body {
	font-size: 24px;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	font-weight: bold;
	background-color: rgba(226, 233, 160, 0.1);
}
.container{
	max-width: 1500px;
	margin: auto;
}

.container {
	max-width: 1500px;
	margin: auto;
}

.nav {
	/* background-color: rgb(206, 233, 162); */
	/* height: 8vh; */
	width: 100vw;
}


.describe {
	/* background-color: rgb(46, 8, 8); */
	height: 25vh;
	/* margin: auto; */
}

/* .main { */

/* background-color: aquamarine; */

/* display: flex; */

/* margin: auto; */

/* height: 67vh; */

/* } */

.main {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
}


