.graph{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    height:fit-content;

}
.frame{
    display: flex;
    flex-direction: column;

    /* width: 980px; */
}
/* The animation code */
@keyframes example {
    from {background-color: rgb(231, 220, 59);}
    to {background-color: rgb(214, 218, 203);}
  }

.frame-btn:hover{
    animation-name: example;
    animation-duration: 4s;
    transition-timing-function: ease-out;


}
.frame-btn{
    z-index: 2;
    text-align: center;
    width: 70px;
    height: 70px;
    font-weight: bolder;
    color: rgb(44, 19, 8);
    background-color: rgb(147, 184, 231);
    font-size: 25px;
    margin: 50px 0px;
    border-radius: 50%;
    border: 2px solid rgb(233, 225, 225);
    box-shadow: #dfdad6 4px 10px 5px;
}
#graph-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    /* width: 900px; */


}
.btnchart:hover {
	box-shadow: #dfdad6 1px 1px 12px;
}

.btnchart{
    /* display: none; */
    cursor: url(/img/lighting_bolt.png), auto;
    font-size: 100px;
    text-align: center;
    width: 100%;
    height: 400px;
    line-height: 400px;
    background-repeat:no-repeat;
    background-size: 1000px;
    background-image: url("https://media.giphy.com/media/Wodg2kOPJRLbw3Pfjh/giphy.gif");
}
#line{
    background-color: aquamarine;
    margin-top: 5px;
    margin-bottom: 5px;
    
}