/* 範例:
#raining{}
#raining>.location{
  border-bottom:1px solid #000000;
}
#raining>.location>.town{
  font-weight:bold;
} */
/* width: minmax(345px, 510px) */
* {
	box-sizing: border-box;
  }
  .menu {
	  margin-top: 40px;
	height: 900px;
	overflow: auto;

  }
  #menu-frame {
	align-items: center;
	display: grid; */
    /* /* grid-template-columns: 1fr; */
    padding-right: 0.5rem;
    margin-top: 10px;
	/* border: 2px outset; */
	/* overflow:scroll; */
	/* overflow: hidden; */
  }
  ::-webkit-scrollbar {
	display: none;
	/* Chrome Safari */
  }
  .description {
	text-align: center;
	font-size: 2rem;
	display: none;
  }
  .administrative_district {
    height: 200px;
	margin: 5px;
	width: auto;
	/* background-color: #636160; */
	display: grid;
	/* grid-template-areas: '1fr' '1fr'; */
	justify-items: center;
	align-items: center;
	border-radius: 5px;
	/* cursor: pointer; */
	box-shadow: 0 3px 5px #aaa9a5;
	transition: all 200ms ease-in-out;
  }
  #menu-frame :hover {
	box-shadow: 0px 3px 3px #636160;
	/* height: 71px; */
  }
  .location_name {
	font-size: 1.5rem;
	/* text-align: center; */
	/* color: cornsilk; */
	color: #636160;
	pointer-events: none
  }
  .location_whether {
	width: 80px;
	pointer-events: none
  }
  .location_raining_rate {
	font-size: 1.5rem;
	/* text-align: center; */
	/* color: cornsilk; */
	color: #636160;
	pointer-events: none
  }