
.nav{
	background-color: #FFD77C;
	box-shadow: 0 0 3 10px rgba(255,255,255,0.3);



}
#nav-frame{
	height:100%;
	margin:0px;
	position: relative;
	margin:auto;
	font-size:1.2rem;
	font-weight: bold;
	width:50%;
	color:rgb(75, 72, 72);
}
#nav-frame > marquee{
	height:80%;
	font-size:1.5rem;
	font-weight: bold;
	line-height: 1.5rem;
	padding-top:10px;
}